body  {
font-family: Verdana, Arial;
background-color: #000000;
}

a {
text-decoration: none; 
color: #000000;
}

#menubar {
background-color: #000000; 
color: white;
height: 40px;
}

.menu {
float: left;
padding: 0.6em 3em 0.1em 0.5em;
cursor: default;
}

.menu ul {
display: none;
position: absolute;
background-color: white;
list-style: none;
margin: 2px 5px 5px 0;
padding: 0.2em;
}

.menu ul li {
display: block;
font-size: small;
padding: 0.2em;
}

div.menu:hover ul {
margin: 0;
padding: 0;
display: block;
background-color: white;
color: #303032;
}

div.menu ul li:hover {
background-color: #cccccc;
}

.whitepipe {
color: white;
}

p.box {
width: 400px;
margin-left: 20px;
margin-top: 50px;
border-radius: 5px;
background-color: white;
padding: 10px;
color: #000000;
}

img.posit {
position: relative;
border-radius: 25px;
left: 460px;
top: -270px;
}



